{% extends "base.html" %}
{% block title %}Email service{% endblock %}
{% block head %}Email service{% endblock %}
{% block content %}
    <form id="emailServiceForm" >
        {% csrf_token %}
        <div class="form-group">
            <label>Sending dttm</label>
            <input name="sending_dttm" class="form-control" type="datetime-local">
        </div>
        <label>Email</label>
        <input name="email" class="form-control" type="email">
        </div>
        <div class="form-group ">
            <label> Message </label>
            <textarea name="message" class="form-control"></textarea>
        </div>

        <input id ="emailServiceSave" type="button" value="Save">

    </form>
    {% load static %}
    <script type="text/javascript" src="{% static "jquery-3.1.0.min.js" %}"></script>
    <script>

        $('#emailServiceSave').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'email_service:email_requests' %}",
                data: $('#emailServiceForm').serialize(),
                dataType: "json",
                success: function (result) {
                    window.location.replace("{% url 'email_service_success_form' %}");
                },
                error: function (xhr, statusText, err) {
                    alert("Error:" + xhr.status + ": " + xhr.responseText);
                }
            });

        });
    </script>


{% endblock %}